<footer>
  <div class="container">
    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
          <div class="social-share mx-auto">
            <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"></a>
            <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" data-pin-tall="true" rel="nofollow" target="_blank" title="Share on pinterest">Share on pinterest</a>
            <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
          </div>
      </div>
    </nav>
  </div>
  
  <!--
    <nav class=" mx-auto navbar navbar-expand-lg fixed-bottom">
      <div class="container-fluid">
        Navbar
      </div>
    </nav>
  
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p class="feed-subscribe">
            <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
              </svg><span>Subscribe22</span>
            </a>
          </p>
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  -->
  </footer>
  