<footer>
  <div class="container">
    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
          <div class="social-share mx-auto my-auto">
            <a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"></a>
            <a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" data-pin-tall="true" rel="nofollow" target="_blank" title="Share on pinterest">Share on pinterest</a>
            <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
          </div>
      </div>
    </nav>
  </div>
</footer>
  