.page-link {
	background-color: transparent; 
    border:none;
}
.banner-container{
	width: 100%;
	height: 600px;
}

.post-link h3{
	font-size: larger;
}

@media screen and (min-width: 1200px) {
	.wrapper{
		max-width: calc(1200px - (30px * 2));
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 1800px) {
	.wrapper{
		max-width: calc(1800px - (30px * 2));
		padding-right: 30px;
		padding-left: 30px;
	}
}