.navbar {
	font-family: 'Rokkitt', serif;
    font-variant: small-caps;
	letter-spacing: 1px;
	font-size: 25px;
}

.nav-item {
    font-family: 'Rokkitt', serif;
    font-variant: small-caps;
	letter-spacing: 1px;
	font-size: 25px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #59B4FB;
}
.navbar .navbar-nav > .nav-item > .nav-link:hover{
    color: #59B4FB;
}

html a:hover{
	text-decoration: none;
	color: #59B4FB;
}

.back-to-top {
    z-index: 9999;
    position: fixed;
    bottom: 75px;
    right: 75px;
    display: none;
}

.social-share iframe{
    vertical-align: middle;
}

.navbar.fixed-bottom{
    box-shadow: 2px 2px 2px #f4f4f4;
    font-family: 'Rokkitt', serif;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 25px;
    background: #FFFFFF;
    opacity: 0.85;
    height: 6% !important;
}


.banner-container{
	width: 100%;
	height: 600px;
}

.post-link h3{
	font-size: larger;
}

.post-title {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: solid;
    border-width: 1.5px;
    font-family: "yugothil", sans-serif;
}

.comment__body p {
    margin: 2px;
}

.comment__reply-link {
    color: #828282;
    font-size: 14px;
    cursor: pointer;
}

.comment__author{
    color: #828282;
}

.comment__body{
    font-family: "Arial,Helvetica", sans-serif;
}

.comment.child{
    margin-left: 3em;
}

.post-meta{
    text-align: center;
}

@font-face {
    font-family: "Rokkitt";
    src: url("../fonts/Rokkitt-Medium.ttf");
}
@font-face {
    font-family: "yugothil";
    src: url("../fonts/yugothil.ttf");
}
@media screen and (min-width: 1200px) {
	.wrapper{
		max-width: calc(900px - (30px * 2));
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 1800px) {
	.wrapper{
		max-width: calc(1400px - (30px * 2));
		padding-right: 30px;
		padding-left: 30px;
	}
}

ul li{
    text-align: left;
    list-style: none;
    font-size: 24px;
}
p {
    margin-top: 10px;
    text-align: justify;
    font-size: 23px;
    font-family: "Rokkitt", serif;
}

.show-modal {
	overflow: hidden;
	position: relative;
}

.show-modal:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.85);
}

.show-modal .modal {
	display: block;
}

.modal {
    display: none;
    position: fixed;
    width: 300px;
	bottom:auto;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
}

.mdl-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.mdl-card__title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    -webkit-perspective-origin: 165px 56px;
    perspective-origin: 165px 56px;
    -webkit-transform-origin: 165px 56px;
    -ms-transform-origin: 165px 56px;
    transform-origin: 165px 56px;
    box-sizing: border-box;
}
.mdl-card__supporting-text {
    padding-top: 0;
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}

.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

.mdl-shadow--2dp {
    box-shadow: 5px 5px 15px 5px #000000;
}
