<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">

      {% if page.banner %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <img class="rounded mx-auto d-block img-fluid" src="{{ page.banner | relative_url }}"/>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include modal.html -%}
    <script type="text/javascript" src="{{ site.lightbox-js-path | relative_url }}"></script>
    <link rel="stylesheet" href="{{ site.lightbox-css-path | relative_url }}">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="{{ '/assets/js/jquery3.6.0.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>

</html>
