---
layout: default
---

<div class="home">

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="container-fluid">
      <ul class="post-list">
      <div class="row">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <div class="col-md-6 col-lg-4 mb-5">
          <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <img class="img-fluid w-100" src="{{ post.thumbnail | relative_url }}"/>
            <h3>{{ post.title | escape }}</h3>
            </a>
            {%- if site.show_excerpts -%}
              {{ post.excerpt | truncate:250}}
            {%- endif -%}
          </li>
          </div>
        {%- endfor -%}
      </div>
      </ul>
    </div>
            
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
